
@font-face {
  font-family: "iAWriterFullSpaceTC";
  font-weight: 400 700;
  font-style: normal;
  unicode-range: U+0-8, U+B-C, U+E-1F, U+21-9F, U+A1-2027, U+202A-FFFF;
  src: local("iA Writer FullSpace TC"), url("iAWriterFullSpaceTC.ttf");
}
