@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100 900;
	src: url('WorkSans[wght].ttf') format('truetype');
}

@font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 100 900;
	src: url('WorkSans-Italic[wght].ttf') format('truetype');
}
